.videoCArd__wrapper{
    display: flex;
   margin: 1rem 0;
   cursor: pointer;
   max-width: 700px;
}

.mobile__image-wrapper{
    display: none;
}

.videoCard__info{
    display: flex;
    margin-left: 0.5rem;
    text-align: left;
}

.videoCard__title{
    margin: 0;
}

.videoCard__headline {
    font-size: 12px;
    color: #606060;
    display: flex;
}

.videoCard__headline > p {
    margin: 0;
}

.videoCard__description{
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

@media screen and (max-width: 1024px) {
    .videoCArd__wrapper > img {
        display: none;
    }

    .mobile__image-wrapper{
        display: inline-block   ;
    }

    .videoCard__headline{
        font-size: 9px;
    }

    .videoCard__title{
        font-size: 12px;
    }

    .videoCard__description {
        font-size: 10px;
        margin-top: 0.25rem;
    }
}