.videoDisplayer__container{
    margin-top: 2rem;
}

.channel__image{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.channel__image > img{
    border-radius: 50%;
}

.videoDisplayer__info{
    max-width: 80%;
}



.videoDisplayer__info{
    text-align: right;
}

.youtube-video__player__from-mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    .youtube-video__player{
        display: none;
    }

    .youtube-video__player__from-mobile{
        display: block;
    }
}
