html, body, #root, .App {
  min-height: 100vh;
  margin-top: 0;
  width: 100%;
  padding-top: 0;
}

.App {
  text-align: center;
  background-color: #f8f6f6;  
  position: relative;
  bottom:0;
}

.fix_margins {
  padding: 0 2rem;
}

@media screen and (max-width: 1024px) {
  .fix_margins {
    padding: 0 0.5rem;
  }
}
